.my-orders {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 15px;

}

.transaction-card {
  background-color: #000000 !important; 
  color: #fff;
  border: 1px solid #d4af37; /* Gold renkli sınır */
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  position: relative;
}

.transaction-card h3 {
  margin: 0 0 0.5rem 0;
}

.transaction-card p {
  margin: 0.25rem 0;
}

.status-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  border: 1px solid #413c3c; /* Gold renkli sınır */

  transition: color 0.3s, background-color 0.3s; /* Smooth transition for color and background */
}

.status-icon.active {
  color: rgb(0, 255, 21); /* Active color for the icons */
}

.status-icon + .status-icon {
  margin-left: 10px;
}
/* Hover state for status icons */
.status-icon:hover {
  background-color: rgba(122, 117, 117, 0.521); /* Pink background color on hover */
  color: #000; /* Optional: change text color if needed */
}

.head h1 {
  text-align: center; /* Başlığı ortala */
  font-size: 2.5rem; /* Font boyutu */
  color: #d4af37; /* Altın sarısı metin rengi */
  background-color: #000000; /* Siyah arka plan */
  padding: 20px; /* İç boşluk */
  margin-bottom: 30px; /* Alt margin */
  font-style: italic; /* İtalik stil */
  border-bottom: 2px solid #d4af37; /* Altın sarısı alt kenarlık */
  border-radius: 8px; /* Köşe yuvarlama */
}

.head h1 strong {
  font-style: italic; /* İtalik stil */
  color: #ffffff; /* Farklı ve uyumlu bir renk, örneğin pembe */
}