.log-container {
  padding: 20px;
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #d4af37; /* Altın sarısı metin */
}

.log-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.log-table th,
.log-table td {
  border: 1px solid #d4af37; /* Altın sarısı kenarlık */
  padding: 8px;
  text-align: center;
  color: #ffffff; /* Beyaz metin */
  background-color: #000000; /* Siyah arka plan */
}

.log-table th {
  background-color: #000000; /* Siyah arka plan */
  color: #d4af37; /* Altın sarısı metin */
  width: min-content;
}

.log-table tr:nth-child(even) {
  background-color: #333333; /* Koyu gri arka plan */
}

.log-table tr:hover {
  background-color: #444444; /* Daha koyu gri arka plan */
}

.head h1 {
  text-align: center; /* Başlığı ortala */
  font-size: 2.5rem; /* Font boyutu */
  color: #d4af37; /* Altın sarısı metin rengi */
  background-color: #000000; /* Siyah arka plan */
  padding: 20px; /* İç boşluk */
  margin-bottom: 30px; /* Alt margin */
  font-style: italic; /* İtalik stil */
  border-bottom: 2px solid #d4af37; /* Altın sarısı alt kenarlık */
  border-radius: 8px; /* Köşe yuvarlama */
}

.head h1 strong {
  font-style: italic; /* İtalik stil */
  color: #ffffff; /* Farklı ve uyumlu bir renk, örneğin pembe */
}