.profile-page {
  text-align: left; /* Başlık ve içerik sola yaslanacak */
  padding: 20px;
}

.profile-container {
  padding: 20px;
  border: 1px solid #ddd; /* Container'a kenarlık ekleyin */
  border-radius: 8px; /* Köşeleri yuvarlatın */
  max-width: 600px; /* Maksimum genişlik */
  background-color: #f9f9f9; /* Arka plan rengi */
  margin: auto; /* Ortalamak için */
}

.profile-container h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px; /* Başlık ile detaylar arasına boşluk */
}

.profile-details p {
  font-size: 1rem;
  margin: 10px 0; /* Her detayın arasına boşluk ekleyin */
}

.profile-details strong {
  display: inline-block;
  margin-right: 10px; /* Etiket ile değer arasına boşluk */
}
button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
}

.edit-profile-form label {
  margin: 5px 0;
}

.edit-profile-form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-form button {
  margin-top: 20px;
  background-color: #28a745;
}

.edit-profile-form button:hover {
  background-color: #218838;
}

