.edit-profile-form {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Form genişliğini sınırla */
  margin: auto; /* Formu ortala */
  padding: 20px;
  border-radius: 8px;
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff; /* Beyaz metin */
}

.form-group input {
  padding: 10px;
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
  border-radius: 4px;
  width: 100%; /* Genişliği tam yap */
  box-sizing: border-box; /* Padding ve border hesaplaması dahil et */
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
}

.radio-group {
  display: flex;
  flex-direction: column;
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
  border-radius: 4px; /* Köşe yuvarlatma */
  padding: 10px;
  background-color: #000000; /* Siyah arka plan */
}

.radio-group legend {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff; /* Beyaz metin */
}

.radio-group label {
  margin: 5px 0;
  color: #ffffff; /* Beyaz metin */
}

button {
  padding: 10px 20px;
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s; /* Geçiş efekti */
}

button:hover {
  background-color: #d4af37; /* Altın sarısı arka plan */
  color: #000000; /* Siyah metin */
}
