.App-header {
  background-color: #000000; /* Black background */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-profile {
  position: relative;
  display: flex;
  align-items: center;
}

.App-link {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #d4af37; /* Gold border */
  transition: background-color 0.3s, border-color 0.3s;
}

.App-link:hover {
  background-color: #d4af37; /* Gold background on hover */
  color: #000000; /* Black text on hover */
  border-color: #d4af37; /* Gold border */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000000; /* Black background */
  border-radius: 5px;
  border: 2px solid #d4af37; /* Gold border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; 
  min-width: 200px;
  z-index: 1000;
  
}
.nav-profile:hover .dropdown-menu {
  display: block; /* Üzerine gelindiğinde menüyü göster */
}
.dropdown-item {
  color: #ffffff; /* White text */
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid #444; /* Dark border */
}

.dropdown-item:hover {
  background-color: #d4af37; /* Gold background on hover */
  color: #000000; /* Black text on hover */
}

.dropdown-item:last-child {
  border-bottom: none;
}


