.register-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #000000; /* Siyah arka plan */
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff; /* Beyaz metin */
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff; /* Beyaz metin */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
  border-radius: 4px;
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
  box-sizing: border-box;
}

.radio-group {
  margin-bottom: 20px;
}

.radio-group label {
  margin-right: 10px;
  color: #ffffff; /* Beyaz metin */
}

.register-button {
  padding: 10px;
  border: 2px solid #d4af37; /* Altın sarısı kenarlık */
  border-radius: 4px;
  background-color: #000000; /* Siyah arka plan */
  color: #ffffff; /* Beyaz metin */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.register-button:hover {
  background-color: #d4af37; /* Altın sarısı arka plan */
  color: #000000; /* Siyah metin */
}
