/* C:\VsCodeProjects\my-course-web\src\components\Register\Register.css */

.register-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
  }

.radio-group {
    margin-bottom: 20px;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
    